SMTP_PASSWORD=<16-char-password>
POSTGRES_PASSWORD=password
POSTGRES_USER=user
POSTGRES_DB=calendar
REDIS_PASSWORD=password
TZ=UTC
CONFIG_PATH_DOCKER=./configs/config.docker.yaml
CONFIG_PATH=configs/config.yaml
STORAGE_PASSWORD=$POSTGRES_PASSWORD