SMTP_PASSWORD=<16-character-app-password>
POSTGRES_PASSWORD=password
POSTGRES_USER=user
POSTGRES_DB=calendar
REDIS_PASSWORD=password
TZ=UTC
CONFIG_PATH=configs/config.docker.yaml
STORAGE_PASSWORD=password